<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
<p><%= link_to restaurant.name, restaurant_path(restaurant)%>- (<%= (restaurant.category).upcase %>)</p>
<% end %>

<%= link_to "Add restaurant", new_restaurant_path %>
